<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ i18n "toggleNavigation" }}">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <a class="nav-link{{ if $.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | relLangURL }}">
                            {{ .Name }}
                        </a>
                    </li>
                    {{ end }}
                    
                    {{- partial "languages.html" . -}}
                </ul>
            </div>
        </div>
    </nav>
</header>